<div class="panel panel-default" ng-init="showPlayer()">
	<div class="panel-heading">
	  <p class="panel-title"> Employee Detail Information</p>
	</div>
	<div class="panel-body">
		<form>
		<div class="form-group">
		 <label class="form-control">Name: {{player.name}}</label>
		 <label class="form-control">Age: {{player.age}}</label>
		 <label class="form-control">Batting: {{player.batting}}</label>
		 <label class="form-control">AvgScore: {{player.avgScore}}</label>
		 <label class="form-control">Sallary: {{player.salary}}</label>
		<a href="#/players" class="btn btn-default"> Cancel</a>
		</div>
	</form>		
    <div>
<div>